<% provide(:title, "About us") %>
<h1>About us</h1>
<p>we love what we do and do what we love</p>
<p>
	<a href="mailto:daniel@0lab.pl? Subject=I%20need%20help">contact</a> 
	Daniel if you have any questions
</p>