<% provide(:title, "Welcome") %>
<h1>Home</h1>
<p>welcome to our homepage</p>
<p>
	<%= get_season() %><br/>
	<%= get_random_number(100) %><br/>
	<%= get_random_welcome() %><br/>
	<%= count_to_10() %><br/>
</p>
